.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #eee;
    padding: 20px;
}

.navbar-logo {
    font-weight: 700;
    font-size: 20px;
    color: #25272A;
}

.navbar-links {
    display: flex;
    gap: 16px;
    font-size: 15px;
    font-weight: 500;
    color: #25272A;
}

.navbar-links span {
    cursor: pointer;
}

.navbar-user{
    display:flex;
    align-items:center;
    gap: 12px;
    font-size: 15px;
}

.navbar-user span{
    color: #FF0000;
}

.navbar-user button{
    font-size: 14.5px;
    background: #fff;
    border: 1px solid #888585;
    border-radius: 6px;
    padding: 4px 8px;
    cursor: pointer;
    color: #25272A;;
}

